

NET "An[5]" LOC = A13;
NET "An[4]" LOC = B13;
NET "An[3]" LOC = A14;
NET "An[0]" LOC = D14;
NET "An[2]" LOC = B14;
NET "An[1]" LOC = C14;
NET "Ca" LOC = B4;
NET "Cb" LOC = A4;
NET "Cc" LOC = D5;
NET "Cd" LOC = C5;
NET "Ce" LOC = A6;
NET "Cf" LOC = B6;
NET "Cg" LOC = E7;
NET "CS" LOC = B16;
NET "MISO" LOC = E13;
NET "SCLK" LOC = A16;
NET "SPI_power" LOC = G9;


NET "SPI_power" IOSTANDARD = LVCMOS33;


NET "Txd" LOC = M14;
NET "Reset" LOC = V4;
NET "SystemClock" LOC = C9;


NET "An[5]" IOSTANDARD = LVCMOS33;
NET "An[4]" IOSTANDARD = LVCMOS33;
NET "An[3]" IOSTANDARD = LVCMOS33;
NET "An[2]" IOSTANDARD = LVCMOS33;
NET "An[1]" IOSTANDARD = LVCMOS33;
NET "An[0]" IOSTANDARD = LVCMOS33;
NET "Ca" IOSTANDARD = LVCMOS33;
NET "Cb" IOSTANDARD = LVCMOS33;
NET "Cc" IOSTANDARD = LVCMOS33;
NET "Cd" IOSTANDARD = LVCMOS33;
NET "Ce" IOSTANDARD = LVCMOS33;
NET "Cf" IOSTANDARD = LVCMOS33;
NET "Cg" IOSTANDARD = LVCMOS33;
NET "CS" IOSTANDARD = LVCMOS33;
NET "Reset" IOSTANDARD = LVCMOS33;
NET "SCLK" IOSTANDARD = LVCMOS33;
NET "MISO" IOSTANDARD = LVCMOS33;
NET "SystemClock" IOSTANDARD = LVCMOS33;
NET "Txd" IOSTANDARD = LVTTL;


NET "Txd" DRIVE = 8;
NET "SCLK" DRIVE = 12;
